@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');




body {
	font-family: "Montserrat", sans-serif;
}

input  , textarea{
	border: 1px;
	border-radius: 10px !important;
	border-color: #F0F0F0 ;
	padding: 20px !important;
}

input:focus  {
	outline-color: #7B72EB;
}
textarea:focus  {
	outline-color: #7B72EB;
}
.ant-upload {
	border-style: none !important;
	width: 210px !important;
	height: 200px !important;
}
.ant-upload & .ant-upload-select {
	width: 210px;
	height: 110px !important;

}