@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');




body {
	font-family: "Montserrat", sans-serif;
}

input  , textarea{
	padding: 20px !important;
	border-radius: 10px !important;
}
.ant-upload-list-item-container {
	width: 250px !important;
	padding: 0 !important;
	height: 120px !important;
}
.ant-modal-close {
	top: 30px !important;
}
input:focus  {
	outline-color: #7B72EB;
}
textarea:focus  {
	outline-color: #7B72EB;
}
.ant-upload {
	border-style: none !important;
	width: 210px !important;
	height: 200px !important;
}
.ant-upload & .ant-upload-select {
	width: 210px;
	height: 110px !important;

}



.editLabelModal {
	color: #A6A6A6;
	font-size: 16px;
	font-weight: 500;
}

.input_modal {
	border: 1px solid #F0F0F0;
	outline-color: #7B72EB;
	font-size: 18px;
	color: black;
}